<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <santi_customstockstatus>
            <general>
                <low_stock_message>Quedan pocas unidades</low_stock_message>
            </general>
        </santi_customstockstatus>
    </default>
</config>
