<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Menu/etc/menu.xsd">
    <menu>
        <add id="Santi_Customstockstatus::config"
             title="Custom Stock Status"
             module="Santi_Customstockstatus"
             sortOrder="90"
             parent="Magento_Backend::stores"
             action="adminhtml/system_config/edit/section/santi_customstockstatus"
             resource="Magento_Config::config"/>
    </menu>
</config>
